{
    margin: 0;
    padding: 0;
    box-sizing; border-box;
}

/* Body & Font */
body{
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    color: #333;
}

header{
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    padding-top: 30;
    font-weight: bold;
    color: #2c3e50;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background: linear-gradient(135deg, #2c3e50, #34495e);
    padding-top: 30px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 1);
    z-index: 999;
}

.sidebar ul{
    list-style: none;
    padding: 0 20px;
}

.sidebar ul{
    margin: 20px 0;
}

.sidebar ul li a{
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 12px 15px;
    border-radius: 8px;
    transition: background-color 0.3, transform 0.2;
}

.sidebar ul li a:hover {
    background-color: #1abc9c;
    transform: translateX(5px);
}

/* Konten utama bergeser ke kanan karena sidebar */
.main-content{
    margin-left: 240px;
    padding: 20px;
}

/* Header & Statistik Container */
header{
    margin-bottom: 30px;
}

/* Container Statistik Kotak */
.stats-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

/* Kartu Statistika */
.stat-card{
    flex: 1 1 260px;
    background: #1976D2;
    color: white;
    padding: 25px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0, 15);
    transition: transform 0.3s ease;
    cursor: default;
}

/* Hover Efek */
.stat-card:hover{
    transform: translateY(-5px);
}

/* Ikon Statistik */
.stat-icon {
    font-size: 45px,
    margin-right: 25px,
    user-select: none;
}

.stat-icon img {
    display: block;
    margin: 0 auto;
}

/* Isi teks dalam Kartu */
.stat-contect h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 6px;
}

.stat-contect p{
    font-weight: 700;
    font-size: 36px;
}

/* Warna latar belakang berbeda untuk tiap kartu */
.bg-blue{
    background: linear-gradient(135 deg, #2196F3, #1976D2);
}

.bg-green{
    background: linear-gradient(135deg, #4CAF50, #388E3C);
}

.bg-pink{
    background: linear-gradient(135deg, #E91E63, #C2185B);
}

/* Pesan Status */
p{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

p.success {
    color: green;
    font-weight: bold;
}

p.error{
    color: red;
    font-weight: bold;
}

/* Responsive */
@media (max-width:700px){
.stats.container{
    flex-direction: column;
    align-items: center;
}

/* Konten Utama */
.main-content{
    margin-left: 240px; /*Beri Ruang untuk Sidebar */
    padding: 20px;
}
}